* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.comic-relief-regular {
    font-family: "Comic Relief", system-ui;
    font-weight: 400;
    font-style: normal;
}

.comic-relief-bold {
    font-family: "Comic Relief", system-ui;
    font-weight: 700;
    font-style: normal;
}

html,
body {
    width: 100%;
    height: 100%;
    color: whitesmoke;
}

.comic-relief-regular {
    font-family: "Comic Relief", system-ui;
    font-weight: 400;
    font-style: normal;
}

.comic-relief-bold {
    font-family: "Comic Relief", system-ui;
    font-weight: 700;
    font-style: normal;
}

body {
    font-family: 'Comic Relief';
}

main {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.active {
    .num {
        color: #1DB954;
    }

    .song-detail h4 {
        color: #1DB954;
    }

    background-color: #2D2D32;
}

.barPlay:hover {
    cursor: pointer;
}

.container {
    width: 100%;
    height: 100%;
    background-color: #121212;
    overflow: hidden;

    .music {
        width: 100%;
        height: 90vh;
        padding: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: .7rem;
        border-radius: 1rem;

        .left {
            height: 100%;
            width: 100%;
            overflow-y: auto;
            overflow-x: hidden;


            .playlist-name {
                width: 100%;
                height: 40%;
                padding: .7rem 1.5rem;
                display: flex;
                gap: 1rem;
                background: linear-gradient(to top, #1d1230, #4a3b74);
                border-top-right-radius: 1rem;
                border-top-left-radius: 1rem;

                .l1 {
                    width: fit-content;
                    height: 100%;

                    img {
                        background: center;
                        border-radius: 1rem;
                        width: 15rem;
                        height: 100%;
                        object-fit: cover;
                    }
                }

                .l2 {
                    line-height: 2rem;
                    width: fit-content;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: end;

                    .user-info {
                        display: flex;
                        gap: .4rem;
                        white-space: nowrap;
                        :nth-child(3){
                            font-size: .9rem;
                            opacity: .7;
                        }
                    }

                }
            }


            .playlist {
                width: 100%;
                height: 60%;

                .box {
                    min-width: 0;
                    width: 100%;
                    height: 60px;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    padding: 1rem;


                    .left-side,
                    .center,
                    .right-side {
                        display: flex;
                        align-items: center;
                        gap: 10px;
                        justify-content: space-between;
                    }

                    .left-side {
                        gap: 1rem;
                        flex: 1;
                        justify-content: flex-start;

                        .num {
                            display: inline-block;
                            width: 1rem;
                            text-align: center;
                        }

                        .song-image {
                            width: 2.5rem;
                            height: 2.5rem;

                            img {
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                                border-radius: .3rem;
                            }
                        }

                        .song-detail {
                            h4 {
                                font-size: clamp(.7rem, 2vw, 1.2rem);
                                white-space: nowrap;
                            }

                            p {
                                white-space: nowrap;
                                font-size: .8rem;
                                opacity: .7;
                                font-weight: 900;
                                line-height: 1rem;
                            }
                        }
                    }

                    .center {
                        flex: 1;
                        justify-content: center;
                        opacity: .7;
                        font-size: .9rem;

                        p {
                            white-space: nowrap;
                        }
                    }

                    .right-side {
                        flex: 1;
                        justify-content: flex-end;
                        opacity: .7;

                    }
                }

                .box:hover {
                    background-color: #2D2D32;
                    cursor: pointer;
                }
            }
        }

        .right {
            height: 100%;
            width: 35%;
            display: none;
            padding: 1rem 2rem;
            border-radius: 1rem;
            overflow: auto;

            h4 {
                opacity: .7;
            }

            img {
                margin: 1rem 0;
                width: 22rem;
                height: 20rem;
                border-radius: 1rem;
            }

            .singer-info {
                margin-top: 1rem;
                background-color: #1F1F1F;
                line-height: 1.5rem;
                padding: 1rem;
                border-radius: 1rem;

                p {
                    opacity: .6;
                    font-size: 1rem;
                }
            }

            .listeners {
                margin: 1rem 0;
                display: flex;
                align-items: center;
                justify-content: space-between;

                button {
                    padding: .5rem;
                    border-radius: 1rem;
                    border: none;
                    font-weight: 900;

                    &:hover {
                        cursor: pointer;
                    }
                }

            }

            .next-song-display {
                margin-top: 1rem;
                background-color: #1F1F1F;
                padding: 1rem;
                border-radius: 1rem;

                .next {
                    display: flex;
                    align-items: center;
                    gap: 1rem;

                    img {
                        width: 4rem;
                        height: 4rem;
                    }

                    .data {
                        line-height: 1.5rem;

                        p {
                            font-size: 1.2rem;
                        }

                        :nth-child(2) {
                            opacity: .7;
                            font-weight: 900;
                            font-size: .9rem;
                        }
                    }

                }
            }

            &::-webkit-scrollbar {
                display: none;
            }
        }
    }


    .player {
        width: 100%;
        height: 10vh;
        background-color: black;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1rem;
        position: relative;

        h1 {
            width: 100%;
            height: 100%;
            text-align: center;
            align-content: center;
        }

        span {
            color: rgb(13, 235, 13);
        }

        .first {
            width: 20%;
            display: flex;
            align-items: center;
            gap: .5rem;

            img {
                width: 3rem;
                height: 3rem;
            }

            .data {
                h4 {
                    font-size: clamp(1rem, 2vw, 1.2rem);
                }

                p {
                    font-size: clamp(.9rem, 1vw, 1.3rem);
                }
            }
        }

        .second {
            width: 60%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            .upper {
                display: flex;
                gap: 2rem;
                font-size: 1.2rem;
            }

            .lower {
                .progress {
                    margin: .5rem 0;
                    width: clamp(15rem, 50vw, 100rem);
                    height: 4px;
                    background-color: grey;
                    position: relative;

                    .progress-bar {
                        width: 0%;
                        height: 4px;
                        background-color: #1DB954;
                    }

                    .circle {
                        position: absolute;
                        top: 3px;
                        left: 0;
                        background-color: white;
                        width: 13px;
                        height: 13px;
                        border-radius: 50%;
                        transform: translate(-50%, -50%);
                    }
                }

                .time {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                }

            }

        }

        .third {
            width: 20%;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 1rem;

            .prog {
                width: 6rem;
                height: 4px;
                background-color: gray;
            }
        }
    }

    .mobile-view {
        position: fixed;
        z-index: 999;
        top: 0;
        width: 480px;
        height: 30rem;
        overflow: auto;
        color: black;
        padding: .7rem 1rem;

        .nav {
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-size: 1.5rem;
            color: white;

            .down:hover {
                cursor: pointer;
            }
        }

        .image-section {
            margin: 1.3rem auto;
            width: 70%;
            height: 200px;

            img {
                border-radius: .5rem;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .music-info {
            display: flex;
            gap: .5rem;
            color: white;

            img {
                width: 3rem;
                height: 3rem;
                object-fit: cover;
            }

            :nth-child(2) {
                h5{
                    opacity: .7;
                }
            }
        }

        .progress {
            margin: .5rem 0;
            width: 100%;
            height: 4px;
            background-color: white;
            position: relative;
            margin-top: 1.5rem;

            .progress-bar {
                width: 0%;
                height: 4px;
                background-color: #1DB954;
            }

            .circle {
                position: absolute;
                top: 3px;
                left: 0;
                background-color: whitesmoke;
                width: 13px;
                height: 13px;
                border-radius: 50%;
                transform: translate(-50%, -50%);
            }
        }

        .time {
            display: flex;
            align-items: center;
            justify-content: space-between;
            opacity: .7;
            color: white;
        }

        .icons {
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 3rem;
            gap: 1rem;
            color: white;

            :nth-child(2) {
                background-color: white;
                color: black;
                border-radius: 50%;
                padding: .8rem;
                font-size: 2.2rem;
            }
        }

        .lyrics {
            margin-top: 1rem;
            border-radius: 1rem;
            color: white;
            padding: 1rem;
            font-size: 1.2rem;
            overflow: auto;
            max-height: 450px;

            pre {
                margin-top: 1rem;
                width: 90%;
                line-height: 1.7rem;
            }
        }

        .about-artist {
            margin-top: 1rem;
            border-radius: .8rem;
            width: 100%;
            height: 270px;
            position: relative;
            background-color: #2D2D32;

            img {
                width: 100%;
                height: 180px;
                border-radius: .8rem;
                object-fit: cover;
            }

            h1 {
                position: absolute;
                top: 10px;
                left: 5px;
                font-size: 1rem;
                color: white;
            }

            .music-det {
                margin: .7rem;
                color: white;

                :nth-child(2) {
                    opacity: .7;
                }
            }
        }

    }
}

@media (min-width: 601px) {
    .mobile-view{
        display: none !important;
    }
}
@media (max-width: 600px) {
    .container {
        .music {
            height: 77vh;

            .left {
                width: 100% !important;

                .playlist-name {
                    flex-direction: column;

                    width: 100%;
                    height: 50%;
                    justify-content: end;

                    .l2 {
                        justify-content: start;
                    }
                }

                .playlist {
                    height: 50%;

                    .box {
                        background-color: #1F1F1F;
                        .left-side {
                            .song-detail {
                                h4 {
                                    font-size: 1rem;
                                }
                            }
                        }

                        .right-side {
                            p {
                                display: none;
                            }
                        }

                        .center {
                            display: none;
                        }
                    }

                    .box:hover {
                        background-color: #2D2D32 !important;
                    }
                }
            }

            .right {
                display: none !important;
            }
        }

        .player {
            height: 30vh;
            flex-direction: column;
            align-items: start;
            position: relative;
            background: linear-gradient(to top, #1d1230, #4a3b74);
            border-radius: 1rem;

            .first {
                white-space: nowrap;
            }

            .second {

                .back,
                .next {
                    display: none;
                }

                .barPlay {
                    position: absolute;
                    right: 1rem;
                    top: 1rem;
                    font-size: 2.5rem;
                }

                .lower {
                    position: absolute;
                    top: 4rem;
                    left: 4rem;
                }
            }

            .third {
                display: none;
            }
        }

        .mobile-view {
            width: 100%;
            height: 100%;
            display: none;
        }
    }
}

@media (max-width: 1000px) {
    .container {
        .music {
            .right {
                display: none !important;
            }
        }
    }
}