* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.comic-relief-regular {
  font-family: "Comic Relief", system-ui;
  font-weight: 400;
  font-style: normal;
}

.comic-relief-bold {
  font-family: "Comic Relief", system-ui;
  font-weight: 700;
  font-style: normal;
}

html,
body {
  width: 100%;
  height: 100%;
  color: whitesmoke;
}

.comic-relief-regular {
  font-family: "Comic Relief", system-ui;
  font-weight: 400;
  font-style: normal;
}

.comic-relief-bold {
  font-family: "Comic Relief", system-ui;
  font-weight: 700;
  font-style: normal;
}

body {
  font-family: "Comic Relief";
}

main {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.active {
  background-color: #2D2D32;
}
.active .num {
  color: #1DB954;
}
.active .song-detail h4 {
  color: #1DB954;
}

.barPlay:hover {
  cursor: pointer;
}

.container {
  width: 100%;
  height: 100%;
  background-color: #121212;
  overflow: hidden;
}
.container .music {
  width: 100%;
  height: 90vh;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.7rem;
  border-radius: 1rem;
}
.container .music .left {
  height: 100%;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}
.container .music .left .playlist-name {
  width: 100%;
  height: 40%;
  padding: 0.7rem 1.5rem;
  display: flex;
  gap: 1rem;
  background: linear-gradient(to top, #1d1230, #4a3b74);
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
}
.container .music .left .playlist-name .l1 {
  width: -moz-fit-content;
  width: fit-content;
  height: 100%;
}
.container .music .left .playlist-name .l1 img {
  background: center;
  border-radius: 1rem;
  width: 15rem;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.container .music .left .playlist-name .l2 {
  line-height: 2rem;
  width: -moz-fit-content;
  width: fit-content;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: end;
}
.container .music .left .playlist-name .l2 .user-info {
  display: flex;
  gap: 0.4rem;
  white-space: nowrap;
}
.container .music .left .playlist-name .l2 .user-info :nth-child(3) {
  font-size: 0.9rem;
  opacity: 0.7;
}
.container .music .left .playlist {
  width: 100%;
  height: 60%;
}
.container .music .left .playlist .box {
  min-width: 0;
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}
.container .music .left .playlist .box .left-side,
.container .music .left .playlist .box .center,
.container .music .left .playlist .box .right-side {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: space-between;
}
.container .music .left .playlist .box .left-side {
  gap: 1rem;
  flex: 1;
  justify-content: flex-start;
}
.container .music .left .playlist .box .left-side .num {
  display: inline-block;
  width: 1rem;
  text-align: center;
}
.container .music .left .playlist .box .left-side .song-image {
  width: 2.5rem;
  height: 2.5rem;
}
.container .music .left .playlist .box .left-side .song-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 0.3rem;
}
.container .music .left .playlist .box .left-side .song-detail h4 {
  font-size: clamp(0.7rem, 2vw, 1.2rem);
  white-space: nowrap;
}
.container .music .left .playlist .box .left-side .song-detail p {
  white-space: nowrap;
  font-size: 0.8rem;
  opacity: 0.7;
  font-weight: 900;
  line-height: 1rem;
}
.container .music .left .playlist .box .center {
  flex: 1;
  justify-content: center;
  opacity: 0.7;
  font-size: 0.9rem;
}
.container .music .left .playlist .box .center p {
  white-space: nowrap;
}
.container .music .left .playlist .box .right-side {
  flex: 1;
  justify-content: flex-end;
  opacity: 0.7;
}
.container .music .left .playlist .box:hover {
  background-color: #2D2D32;
  cursor: pointer;
}
.container .music .right {
  height: 100%;
  width: 35%;
  display: none;
  padding: 1rem 2rem;
  border-radius: 1rem;
  overflow: auto;
}
.container .music .right h4 {
  opacity: 0.7;
}
.container .music .right img {
  margin: 1rem 0;
  width: 22rem;
  height: 20rem;
  border-radius: 1rem;
}
.container .music .right .singer-info {
  margin-top: 1rem;
  background-color: #1F1F1F;
  line-height: 1.5rem;
  padding: 1rem;
  border-radius: 1rem;
}
.container .music .right .singer-info p {
  opacity: 0.6;
  font-size: 1rem;
}
.container .music .right .listeners {
  margin: 1rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.container .music .right .listeners button {
  padding: 0.5rem;
  border-radius: 1rem;
  border: none;
  font-weight: 900;
}
.container .music .right .listeners button:hover {
  cursor: pointer;
}
.container .music .right .next-song-display {
  margin-top: 1rem;
  background-color: #1F1F1F;
  padding: 1rem;
  border-radius: 1rem;
}
.container .music .right .next-song-display .next {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.container .music .right .next-song-display .next img {
  width: 4rem;
  height: 4rem;
}
.container .music .right .next-song-display .next .data {
  line-height: 1.5rem;
}
.container .music .right .next-song-display .next .data p {
  font-size: 1.2rem;
}
.container .music .right .next-song-display .next .data :nth-child(2) {
  opacity: 0.7;
  font-weight: 900;
  font-size: 0.9rem;
}
.container .music .right::-webkit-scrollbar {
  display: none;
}
.container .player {
  width: 100%;
  height: 10vh;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  position: relative;
}
.container .player h1 {
  width: 100%;
  height: 100%;
  text-align: center;
  align-content: center;
}
.container .player span {
  color: rgb(13, 235, 13);
}
.container .player .first {
  width: 20%;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.container .player .first img {
  width: 3rem;
  height: 3rem;
}
.container .player .first .data h4 {
  font-size: clamp(1rem, 2vw, 1.2rem);
}
.container .player .first .data p {
  font-size: clamp(0.9rem, 1vw, 1.3rem);
}
.container .player .second {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.container .player .second .upper {
  display: flex;
  gap: 2rem;
  font-size: 1.2rem;
}
.container .player .second .lower .progress {
  margin: 0.5rem 0;
  width: clamp(15rem, 50vw, 100rem);
  height: 4px;
  background-color: grey;
  position: relative;
}
.container .player .second .lower .progress .progress-bar {
  width: 0%;
  height: 4px;
  background-color: #1DB954;
}
.container .player .second .lower .progress .circle {
  position: absolute;
  top: 3px;
  left: 0;
  background-color: white;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}
.container .player .second .lower .time {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.container .player .third {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.container .player .third .prog {
  width: 6rem;
  height: 4px;
  background-color: gray;
}
.container .mobile-view {
  position: fixed;
  z-index: 999;
  top: 0;
  width: 480px;
  height: 30rem;
  overflow: auto;
  color: black;
  padding: 0.7rem 1rem;
}
.container .mobile-view .nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.5rem;
  color: white;
}
.container .mobile-view .nav .down:hover {
  cursor: pointer;
}
.container .mobile-view .image-section {
  margin: 1.3rem auto;
  width: 70%;
  height: 200px;
}
.container .mobile-view .image-section img {
  border-radius: 0.5rem;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.container .mobile-view .music-info {
  display: flex;
  gap: 0.5rem;
  color: white;
}
.container .mobile-view .music-info img {
  width: 3rem;
  height: 3rem;
  -o-object-fit: cover;
     object-fit: cover;
}
.container .mobile-view .music-info :nth-child(2) h5 {
  opacity: 0.7;
}
.container .mobile-view .progress {
  margin: 0.5rem 0;
  width: 100%;
  height: 4px;
  background-color: white;
  position: relative;
  margin-top: 1.5rem;
}
.container .mobile-view .progress .progress-bar {
  width: 0%;
  height: 4px;
  background-color: #1DB954;
}
.container .mobile-view .progress .circle {
  position: absolute;
  top: 3px;
  left: 0;
  background-color: whitesmoke;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}
.container .mobile-view .time {
  display: flex;
  align-items: center;
  justify-content: space-between;
  opacity: 0.7;
  color: white;
}
.container .mobile-view .icons {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  gap: 1rem;
  color: white;
}
.container .mobile-view .icons :nth-child(2) {
  background-color: white;
  color: black;
  border-radius: 50%;
  padding: 0.8rem;
  font-size: 2.2rem;
}
.container .mobile-view .lyrics {
  margin-top: 1rem;
  border-radius: 1rem;
  color: white;
  padding: 1rem;
  font-size: 1.2rem;
  overflow: auto;
  max-height: 450px;
}
.container .mobile-view .lyrics pre {
  margin-top: 1rem;
  width: 90%;
  line-height: 1.7rem;
}
.container .mobile-view .about-artist {
  margin-top: 1rem;
  border-radius: 0.8rem;
  width: 100%;
  height: 270px;
  position: relative;
  background-color: #2D2D32;
}
.container .mobile-view .about-artist img {
  width: 100%;
  height: 180px;
  border-radius: 0.8rem;
  -o-object-fit: cover;
     object-fit: cover;
}
.container .mobile-view .about-artist h1 {
  position: absolute;
  top: 10px;
  left: 5px;
  font-size: 1rem;
  color: white;
}
.container .mobile-view .about-artist .music-det {
  margin: 0.7rem;
  color: white;
}
.container .mobile-view .about-artist .music-det :nth-child(2) {
  opacity: 0.7;
}

@media (min-width: 601px) {
  .mobile-view {
    display: none !important;
  }
}
@media (max-width: 600px) {
  .container .music {
    height: 77vh;
  }
  .container .music .left {
    width: 100% !important;
  }
  .container .music .left .playlist-name {
    flex-direction: column;
    width: 100%;
    height: 50%;
    justify-content: end;
  }
  .container .music .left .playlist-name .l2 {
    justify-content: start;
  }
  .container .music .left .playlist {
    height: 50%;
  }
  .container .music .left .playlist .box {
    background-color: #1F1F1F;
  }
  .container .music .left .playlist .box .left-side .song-detail h4 {
    font-size: 1rem;
  }
  .container .music .left .playlist .box .right-side p {
    display: none;
  }
  .container .music .left .playlist .box .center {
    display: none;
  }
  .container .music .left .playlist .box:hover {
    background-color: #2D2D32 !important;
  }
  .container .music .right {
    display: none !important;
  }
  .container .player {
    height: 30vh;
    flex-direction: column;
    align-items: start;
    position: relative;
    background: linear-gradient(to top, #1d1230, #4a3b74);
    border-radius: 1rem;
  }
  .container .player .first {
    white-space: nowrap;
  }
  .container .player .second .back,
  .container .player .second .next {
    display: none;
  }
  .container .player .second .barPlay {
    position: absolute;
    right: 1rem;
    top: 1rem;
    font-size: 2.5rem;
  }
  .container .player .second .lower {
    position: absolute;
    top: 4rem;
    left: 4rem;
  }
  .container .player .third {
    display: none;
  }
  .container .mobile-view {
    width: 100%;
    height: 100%;
    display: none;
  }
}
@media (max-width: 1000px) {
  .container .music .right {
    display: none !important;
  }
}/*# sourceMappingURL=style.css.map */